<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
    colors="true">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <whitelist>
        <directory>./library/NestedSet</directory>
    </whitelist>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

</phpunit>
